<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your weight in Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gold/style.css' %}" type="text/css">
</head>
<body>
<div class="stuff-box magenta">
    {% include 'navBar.html' %}
</div>

<div class="white stuff-box">
    <h1> What is your weight in gold?</h1>
    <h4>This app takes a weight and gets the price of that weight in gold.</h4>
    <form action="">
        <input type="number" id="weight" name="weight">
        <select name="unitOfWeight" id="unitOfWeight">
            <option value="lb"> Pounds</option>
            <option value="t_oz"> Troy Ounces</option>
            <option value="T">Tons</option>
            <option value="g">Grams</option>
            <option value="kg">Kilograms</option>
            <option value="oz">Ounces</option>
        </select>
        <button id="fetch" type="button" onclick="convert_weight()"> = </button>
    </form>
    <h3>The current price of Gold</h3>
    <p id="nasdaq">Please Wait while the price of gold for today is coming to you...</p>
</div>
<script src="{% static 'gold/index.js' %}" type="text/javascript"></script>
</body>
</html>
